DATABASE_NAME=forum_app
DATABASE_SOCKET=/tmp/mysql.sock
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=localhost
DATABASE_MANAGED_TABLES=users

RABBITMQ_URL=amqp://guest:guest@localhost:5672/

RABBITMQ_EXCHANGE=user_exchange
RABBITMQ_EXCHANGE_TYPE=direct
RABBITMQ_ROUTING_KEY=user.created

RABBITMQ_FAILURE_EXCHANGE=failure_exchange
RABBITMQ_FAILURE_EXCHANGE_TYPE=direct
RABBITMQ_FAILURE_ROUTING_KEY=user.failed

JWT_ACCESS_SECRET=